# Android Studio specific ignore
.gradle/
/local.properties
/.idea/
/.cxx/
/captures/

# Build generated
*.apk
*.ap_

# Compiled Object files
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.a

# Executables
*.exe
*.out
*.app

# External native build folder
/cmake-build-*/

# Local configuration file (sdk path, etc)
/local.properties

# Android Studio navigation files
.navigation/

# Android Studio annotations directory
annotationProcessor-output/

# Log files
*.log
